.center{
  text-align: center;
}

.page-content{
  width: 100%;

}

.mdl-cell{
  font-size: 30px;
}

.mdl-cell h4{
  font-size: 35px;
}

.form{
  width: 100%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.reset-counter:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.greetBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.input-field{
  padding: 3px 10px;
  font-size: 20px;
}

.demo-card-event.mdl-card {
  width: 100%;
  height: 350px;
  background: ORANGE;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.text-field{
   margin: 0 auto;
   padding-left: 20%;
}

.mdl-card__title{
  width: 100%;
}

.greets{
  float: left;
  vertical-align: bottom;
}

@media screen and (max-width: 1200px) {

  .demo-card-event.mdl-card {
    width: 100%;
    height: 500px;
    background: ORANGE;
  }

  .input-field{
    padding: 5px 12px;
    font-size: 30px;
  }

  .greetBtn{
    padding: 15px 5px;
    font-size: 30px;
  }

  .reset-counter{
    padding: 15px 5px;
    font-size: 30px;
  }

  .mdl-button{
    width: 15em;
    padding: 15px 16px;
    font-size: 20px;
  }
  .greetingDisp{
    font-size: 30px
  }
}
